<?xml version="1.0" encoding="UTF-8"?>
<!--必须跟接口包名，类名完全一直-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 为接口全限定名-->
<mapper namespace="com.brins.mapper.ArticleMapper">
    <!--动态SQL-->
    <resultMap id="ArticlePojoMap" type="com.brins.pojo.Article">
        <result property="coverImg" column="cover"/>
    </resultMap>

    <select id="list" resultType="com.brins.pojo.Article" resultMap="ArticlePojoMap">
        select * from article
        <where>
            <if test="categoryId!=null">
                category_id = #{categoryId}
            </if>
            <if test="state!=null">
                and state = #{state}
            </if>
            and create_user=#{userId}
        </where>
    </select>

</mapper>